{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muhammet Ali Öztürk</title>
    <link rel="icon" href="{% static 'uploads/cvikon.png' %}">
    <link rel="stylesheet" href="{% static 'css/cv.css' %}">
</head>
<body>
<div class="all">
    <div class="row-1">
        <img src="{% static 'uploads/profil.jpg' %}">
        <div class="texts">
            <h1>Muhammet Ali Öztürk</h1>
            <h3>Mathematician, student at university Galatasaray</h3>
            <p>I study mathematics at Galatasaray University and this will be my 4th year in licence. I am enthusiastic,
innovative, committed and high performing team player with high communication skills and I love
researching and analysing things. I'm in love with mathematics, artificial intelligence, coding and researching.</p>
        </div>
    </div>


    <div class="row-2">

        <ul class="li1">
            <li>
               <span>muhammet.ozturk1905@yahoo.com</span>
            </li>
            <li>
                Istanbul, Turkey
            </li>
            <li><a href="https://stackoverflow.com/users/9992451/m-ali-%C3%96zt%C3%BCrk">
                https://stackoverflow.com/users/9992451/m-ali-%C3%96zt%C3%BCrk</a>
            </li>
        </ul>
        <ul class="li2">
            <li>
                0534 - 786 85 50
            </li>
            <li>
                <a href="https://www.linkedin.com/in/muhammed-ali-%C3%B6zt%C3%BCrk/">https://www.linkedin.com/in/muhammed-ali-%C3%B6zt%C3%BCrk/</a>
            </li>
            <br>
        </ul>
    </div>

    <div class="row-3 cols">
        <div class="row">
          <div class="column">
            <h2 style="list-style-image: url('{% static 'uploads/listikon.png' %}');" class="row3-title"><b>WORK EXPERIENCE</b></h2>
            <ul>
                <li>
                    <h3>Intern/Pricing and reserving</h3>
                    <h4 class="place">İstanbul/Axa Sigorta</h4>
                    <p class="date">06/2018 - 09/2018</p>
                    <p class="contact">Contact: Céline Bussiere - celine.bussiere@axasigorta.com.tr </p>
                    <p class="date">Istanbul, Turkey</p>
                </li>
            </ul>
              <hr>
              <h2 class="row3-title"><b>CERTIFICATES</b></h2>
            <ul>
                <br>
                <li>
                    <h4 class="place">Database expertise and software expertise in c#</h4>
                    <p class="closer-to-up">(06/2017 - 10/2017)</p>
                    <p class="closer-to-up">from Yazilim24</p>
                </li>
                <br>
                <br>
                <li>
                    <h4 class="place">Web software expertise with Django</h4>
                    <p class="closer-to-up">(07/2018 - 10/2018)</p>
                    <p class="closer-to-up">from Yazilim24</p>
                </li>
            </ul>
              <hr>
            <h2 class="row3-title"><b>EDUCATION</b></h2>
            <ul>
                <li>
                    <h3>Mathematics</h3>
                    <h4 class="place">at Galatasaray Univercity</h4>
                    <p class="date">09/2014 - Present</p>
                    <p class="date" style="margin-left: 55%;">Istanbul, Turkey</p>
                    <br>
                    <br>

                </li>
            </ul>

          </div>
          <div class="column" style="border-left: 1px dotted;">
            <h2 class="row3-title"><b>SKILLS</b></h2>
            <ul class="skillzarea">
                <li class="bordered">C#</li>
                <li class="bordered">Microsoft SQL</li>
                <li class="bordered">SQL</li>
                <li class="bordered">Python</li>
                <li class="bordered">HTML</li>
                <li class="bordered">CSS</li>
                <li class="bordered">SAS</li>
                <li class="bordered">High mathematics</li>
                <li class="bordered">Analysis</li>
                <li class="bordered">Microsoft Excel, Word</li>
                <li class="bordered">Artificial Intelligence</li>
                <li class="bordered">ASP.Net(currently learning at univercity)</li>
            </ul>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            <hr>
            <h2 class="row3-title"><b>ORGANIZATIONS</b></h2>
            <ul>
                <li>
                    <h4 class="place">Mathematics Club of Galatasaray University</h4>
                    <p class="closer-to-up">(2016 - 2018)</p>
                    <p class="closer-to-up likehidden">Board member</p>
                </li>
            </ul>
              <hr>
            <h2 class="row3-title"><b>LANGUAGES</b></h2>
            <ul style="list-style-type: none; margin: -3%;">
                <li>Turkish: Native Language</li>
                <li>English: Advanced Level</li>
                <li>French: DELF B2</li>
                <li>German: Beginner, A1-A2</li>
            </ul>
              <br>
              <hr>
              <h2 class="row3-title"><b>SOME OF MY SOFTWARE PROJECTS</b></h2>
            <ul class="skillzarea">
                <li class="bordered2">• Total income and outgoings calculator, gives you
detailled information of a month or year and what's your
current profit etc.(currently being used by my dad's
company)
</li>
                <li class="bordered2">• A program that sells cinema tickets to the customers
and shows which seats are available</li>
                <li class="bordered2">• A program that approves if a number is prime or not and
also finds all prime numbers between two numbers.</li>
                <li class="bordered2">• A program that makes prime factorization of big
numbers
</li>
            </ul>
              <hr>
              <h2 class="row3-title"><b>INTERESTS</b></h2>
            <ul class="skillzarea">
                <li class="bordered3">Reading scientific books and articles.</li>
                <li class="bordered3">Swimming</li>
                <li class="bordered3">Artificial Intelligence</li>
                <li class="bordered3">Mathematics</li>
                <li class="bordered3">Coding</li>
                <li class="bordered3">Basketball</li>
                <li class="bordered3">Online strategy games</li>
            </ul>
          </div>
        </div>

    </div>
</div>
</body>
</html>