.all{
    width: 60%;
    margin-left: 22%;
    height: 100%;
    background-color: #ffffff;
}
.row-1 {
    height: 43%;
    border: 1px solid;
}
.row-2{

    border: 1px solid;
    background-color: #4db6ac;
}
.row-3{
    height: 100%;
    border: 1px solid;
}

.texts{
    margin-left: 30%;
}

.col-1 {
    height: 100%;
}
.row3-title{
    text-align: left;
    color: #4db6ac;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}
.date{
    margin-top: -3%;

    color: #00867d;
}
.place{
    margin-top: -3%;
}
.contact{
    margin-top: -14px;
}
h4{
    font-style: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
a{
    text-decoration: none;
}

img {
    border-radius : 50%;
    height: 13%;
    width: 13%;
    float: left;
    margin-left: 15%;
    margin-top : 2%;

}
.li1{
    float: left;
}
.li2{
    margin-left: 100px;
}
body{
    background-color: #62757f;
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;

}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.bordered{
    border: 1px solid black;
    background-color: #4db6ac;
    float: left;
    margin-right: 5%;
    margin-bottom: 1%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.bordered3{
    border: 1px dotted black;
    background-color: #ffffff;
    float: left;
    margin-right: 10%;
    margin-left: -5%;
    margin-bottom: 1%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.skillzarea{
    list-style-type: none;
}
.closer-to-up{
    margin-top: -3%;
}
.likehidden{
    color: #90a4ae;
    font-size: 13px;
}
.textleft{
    text-align: left;
}
.bordered2{
    border: 1px dotted teal;
    background-color: #ffffff;
    margin-left: -7%;
    margin-bottom: 1%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}